<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>catalog</title>
</head>
<body>
    <header>
        header
    </header>

    <main>
        {% for p in productos %}
        <div class="producto">
            {% if p.imagen %}
            <img src="{{ p.imagen.url }}" alt="{{ p.nombre }}">
            {% endif %}
            <h3>{{ p.marca.nombre | capfirst }}</h3>
            <h2>{{ p.nombre | title }}</h2>
            <h2>${{ p.precio }}</h2>
            <p>{{ p.descripcion }}</p><br>
        </div>
        {% endfor %}
    </main>

    <footer>
        footer
    </footer>
</body>
</html>