{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles_home.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <h1>Welcome to my website</h1>
    </header>
    {% if messages %}
    {% for message in messages %}
    <div>
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    <nav>
        <a href="{% url 'logs' %}">Login</a>
        <a href="{% url 'regs' %}">register</a>
        <a href="{% url 'logst' %}">logout</a>
        <a href="{% url 'catalog' %}">catalogue</a>
    </nav>

    <main>
        <h2>mein</h2>
    </main>

    <footer>
        <h3>footer</h3>
    </footer>
</body>

</html>