{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles_reg_log.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>

<body>
    <h1>Bienvenido a </h1>
    <p>Por favor, inicia sesión para acceder a tu cuenta.</p>
    <a href="{% url 'home' %}">exit</a>

    <div class="container">
        <form class="from" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="login">
        </form>
    </div>
</body>

</html>